.content{
	width: 100%;
	height: 95%;
	min-height: rem(670);
	background-image:url("../images/infoblock.png"), url("../images/bg_2.png");
	background-repeat: no-repeat;
	background-position: bottom 1% center, top center;
	background-size: 400px, cover;
	position: relative;
	@include mq(tablet, max) {
		min-height: rem(670);
		background-size: 290px, cover;
	}
	&__inner{
		padding-top: 1%;
		display: flex;
	}
	&__logo {
		position: absolute;
		top: 0;
		right: rem(200);
		top: 3%;
		width: 7.2%;
		max-width: 157px;
		min-width: 70px;
		@include mq(desktop, max) {
			right: rem(100);
		}
		@include mq(laptop, max) {
			right: 2%;
		}
		img {
			width: 100%;
		}
	}
}

.folder {
	text-align: center;
	margin-right: 2%;
	img {
		width: 55%;
		max-width: rem(73);
		margin: 0 auto;
		display: block;
	}
	&__item {
		&:hover {
			cursor: pointer;
			background-color: rgba(235,235,235, .7);
		}
	}
	&__img {
		padding-top: rem(8);
	}
	&__text {
		padding-bottom: rem(7);
	}
}