.footer {
	height: 5%;
	background-color: #000;
	width: 100%;
	opacity: .79;
    &__inner {
		height: 100%;
    	width: 90%;
    	margin: 0 auto;
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    }
	&__left {

	}
	&__right {
		color: #fff;
	}
}

.menu {
	height: 100%;
	display: flex;
    align-items: center;
	&__item{
		margin-right: rem(30);
		cursor: pointer;
	}
	img {
		display: block;
	}
}