.player {
	position: absolute;
	bottom: 15%;
	right: 3%;
	@include mq(desktop, max) {
		bottom: 25%;
	}
	&__image {
		width: 100%;
		max-width: rem(404);
		position: relative;
	}
	&__play {
		width: 100%;
		text-align: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		&:hover {
			cursor: pointer;
		}
	}
}