.icons-soc {
  display: flex;
  justify-content: center; 
  margin-bottom: rem(50);
  color: #fff;
}


.round-soc span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-soc {
  float: left;
  border-radius: 100%;
  margin: 0px 8px;
  color: #fff;
  text-decoration: none;
}
.round-soc:hover {
  cursor: pointer;
}

.icons-hover:hover a{
  opacity: .7;
  transition: .5s;
}
.icons-hover a:hover{
  opacity: 1;
}

.rutube-soc {
  padding-left: 8px;
  padding-top: 8px;
  display: inline-block;
}

.rutube-logo {
  width: rem(80);
}
.rutube-logo:hover {
  cursor: pointer;
}