.typografy {
	color: #fff;
	font-weight: 700;
}

.typografy--text {	
	font-size: rem(37);
	line-height: rem(44);
	@include mq(phone, max) {
		font-size: rem(22);
		line-height: rem(30);
	}
}

.typografy--textsmall {
	font-size: rem(26);
		@include mq(tablet, max) {
			display: block;
			font-size: rem(28);
			line-height: rem(34);
			width: 95%;
			margin: 0 auto;
		}
		@include mq(phone, max) {
			font-size: rem(18);
			line-height: rem(26);
		}
}