.video {
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	//-background: rgba(0,0,0,0.8);
	transition: 0.3s ease-in-out;
	z-index: 0;
	&__wrapper{
		width: 43vw;
		height: 27vw;
		position: relative;
		&--full{
			width: 100%;
			height: 100%;
		}
	}
	&__cont {
		width: 100%;
		height: 100%;
		background-image: url(../images/bg_folder.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		a:first-child img {
			padding-left: 16%;
			padding-top: 10%;
		}
		a:nth-child(2)  img {
			padding-left: 3%;
		}
		img{
			width:10%;
		}
		&--ms {
			background-image: url(../images/bg_folder-ms.png);
		}
		&--dh {
			background-image: url(../images/bg_folder-dh.png);
		}
		&--pb {
			background-image: url(../images/bg_folder-pb.png);
		}
		&--dsh {
			background-image: url(../images/bg_folder-dsh.png);
		}
		&--rh {
			background-image: url(../images/bg_folder-rh.png);
		}
	}
	&__cont-person {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 80%;
		height: 100%;
		margin: 0 auto;		
		background-image: url(../images/folder/ms_bgtext.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
			.video__close {
				right: 1.5%;
				top: 4.5%;
			}

			/*&--ms {
				background-image: url(../images/bg_folder-ms.png);
			}*/
			&--dh {
				background-image: url(../images/folder/dh_bgtext.png);
			}
			/*&--pb {
				background-image: url(../images/bg_folder-pb.png);
			}
			&--dsh {
				background-image: url(../images/bg_folder-dsh.png);
			}
			&--rh {
				background-image: url(../images/bg_folder-rh.png);
			}*/
	}
	&__cont-text {
		overflow: scroll;
		height: 70.5%;
		margin-top:16.5%;
		margin-right: 2.5%;
		margin-left: 0.4%;
			h3 {
				padding-top: 3%;
			}
			p {
				width: 90%;
				margin: 0 auto;
				padding-top: 1%;
			}
	}
	&__close {
		cursor: pointer;
		background-image: url(../images/not.png);
		background-size: 100%;
		background-repeat: no-repeat;
		position: absolute;
		width: rem(25);
		height: rem(25);
		right: 1.5%;
		top: 0;
		&--full{
			background-image: url(../images/close.svg);
			width: rem(50);
			height: rem(41);
			right: 5%;
			top: 90%;
		}
	}
	iframe {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
}