@media screen and (max-width: 1920px) { //HD
	html {
		font-size: 100%;
	}
}

@media screen and (max-width: 1440px) { //desktop
	html {
		font-size: 90%;
	}
}

/*@media screen and (max-width: 1200px) { //desktop_2
	html {
		font-size: 80%;
	}
}*/

@media screen and (max-width: 992px) { //laptop
	html {
		font-size: 70%;
	}
}

@media screen and (max-width: 768px) { //tablet
	html {
		font-size:100%;
	}
}

@media screen and (max-width: 480px) { //phone
	html {
		font-size:85%;
	}
}

@media screen and (max-width: 365px) { //small_phone
	html {
		font-size:75%;
	}
}