/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'CirceRegular';
  src: url("../fonts/Circe-Regular.eot");
  src: local("Circe"), local("Circe-Regular"), url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CirceExtraLight';
  src: url("../fonts/Circe-ExtraLight.eot");
  src: local("Circe ExtraLight"), local("Circe-ExtraLight"), url("../fonts/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraLight.woff") format("woff"), url("../fonts/Circe-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'CirceThin';
  src: url("../fonts/Circe-Thin.eot");
  src: local("../fonts/Circe Thin"), local("Circe-Thin"), url("../fonts/Circe-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Thin.woff") format("woff"), url("../fonts/Circe-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'CirceLight';
  src: url("../fonts/Circe-Light.eot");
  src: local("Circe Light"), local("Circe-Light"), url("../fonts/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Light.woff") format("woff"), url("../fonts/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'CirceBold';
  src: url("../fonts/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'CirceExtraBold';
  src: url("../fonts/Circe-ExtraBold.eot");
  src: local("Circe ExtraBold"), local("Circe-ExtraBold"), url("../fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

* {
  outline: 0 !important; }

html {
  font-size: 100%; }

body, html {
  width: 100%;
  height: 100%; }

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  font-family: CirceRegular;
  min-width: 1024px; }

.wrapper {
  font-family: CirceRegular; }

.container {
  width: 90%;
  margin: 0 auto; }

a {
  padding: 0;
  margin: 0;
  color: #fff;
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }

img {
  max-width: 100%; }

h1, h2, h3 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

@media only screen and (max-width: 768px) {
  .desctop {
    display: none; } }

.mobile {
  display: none; }
  @media only screen and (max-width: 768px) {
    .mobile {
      display: block; } }

@media screen and (max-width: 1920px) {
  html {
    font-size: 100%; } }

@media screen and (max-width: 1440px) {
  html {
    font-size: 90%; } }

/*@media screen and (max-width: 1200px) { //desktop_2
	html {
		font-size: 80%;
	}
}*/
@media screen and (max-width: 992px) {
  html {
    font-size: 70%; } }

@media screen and (max-width: 768px) {
  html {
    font-size: 100%; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 85%; } }

@media screen and (max-width: 365px) {
  html {
    font-size: 75%; } }

.typografy {
  color: #fff;
  font-weight: 700; }

.typografy--text {
  font-size: 2.3125rem;
  line-height: 2.75rem; }
  @media only screen and (max-width: 480px) {
    .typografy--text {
      font-size: 1.375rem;
      line-height: 1.875rem; } }

.typografy--textsmall {
  font-size: 1.625rem; }
  @media only screen and (max-width: 768px) {
    .typografy--textsmall {
      display: block;
      font-size: 1.75rem;
      line-height: 2.125rem;
      width: 95%;
      margin: 0 auto; } }
  @media only screen and (max-width: 480px) {
    .typografy--textsmall {
      font-size: 1.125rem;
      line-height: 1.625rem; } }

.content {
  width: 100%;
  height: 95%;
  min-height: 41.875rem;
  background-image: url("../images/infoblock.png"), url("../images/bg_2.png");
  background-repeat: no-repeat;
  background-position: bottom 1% center, top center;
  background-size: 400px, cover;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .content {
      min-height: 41.875rem;
      background-size: 290px, cover; } }
  .content__inner {
    padding-top: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .content__logo {
    position: absolute;
    top: 0;
    right: 12.5rem;
    top: 3%;
    width: 7.2%;
    max-width: 157px;
    min-width: 70px; }
    @media only screen and (max-width: 1440px) {
      .content__logo {
        right: 6.25rem; } }
    @media only screen and (max-width: 992px) {
      .content__logo {
        right: 2%; } }
    .content__logo img {
      width: 100%; }

.folder {
  text-align: center;
  margin-right: 2%; }
  .folder img {
    width: 55%;
    max-width: 4.5625rem;
    margin: 0 auto;
    display: block; }
  .folder__item:hover {
    cursor: pointer;
    background-color: rgba(235, 235, 235, 0.7); }
  .folder__img {
    padding-top: 0.5rem; }
  .folder__text {
    padding-bottom: 0.4375rem; }

.video {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 0; }
  .video__wrapper {
    width: 43vw;
    height: 27vw;
    position: relative; }
    .video__wrapper--full {
      width: 100%;
      height: 100%; }
  .video__cont {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg_folder.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    .video__cont a:first-child img {
      padding-left: 16%;
      padding-top: 10%; }
    .video__cont a:nth-child(2) img {
      padding-left: 3%; }
    .video__cont img {
      width: 10%; }
    .video__cont--ms {
      background-image: url(../images/bg_folder-ms.png); }
    .video__cont--dh {
      background-image: url(../images/bg_folder-dh.png); }
    .video__cont--pb {
      background-image: url(../images/bg_folder-pb.png); }
    .video__cont--dsh {
      background-image: url(../images/bg_folder-dsh.png); }
    .video__cont--rh {
      background-image: url(../images/bg_folder-rh.png); }
  .video__cont-person {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../images/folder/ms_bgtext.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    /*&--ms {
				background-image: url(../images/bg_folder-ms.png);
			}*/
    /*&--pb {
				background-image: url(../images/bg_folder-pb.png);
			}
			&--dsh {
				background-image: url(../images/bg_folder-dsh.png);
			}
			&--rh {
				background-image: url(../images/bg_folder-rh.png);
			}*/ }
    .video__cont-person .video__close {
      right: 1.5%;
      top: 4.5%; }
    .video__cont-person--dh {
      background-image: url(../images/folder/dh_bgtext.png); }
  .video__cont-text {
    overflow: scroll;
    height: 70.5%;
    margin-top: 16.5%;
    margin-right: 2.5%;
    margin-left: 0.4%; }
    .video__cont-text h3 {
      padding-top: 3%; }
    .video__cont-text p {
      width: 90%;
      margin: 0 auto;
      padding-top: 1%; }
  .video__close {
    cursor: pointer;
    background-image: url(../images/not.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 1.5625rem;
    height: 1.5625rem;
    right: 1.5%;
    top: 0; }
    .video__close--full {
      background-image: url(../images/close.svg);
      width: 3.125rem;
      height: 2.5625rem;
      right: 5%;
      top: 90%; }
  .video iframe {
    width: 100%;
    height: 100%;
    margin: 0 auto; }

.footer {
  height: 5%;
  background-color: #000;
  width: 100%;
  opacity: .79; }
  .footer__inner {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__right {
    color: #fff; }

.menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu__item {
    margin-right: 1.875rem;
    cursor: pointer; }
  .menu img {
    display: block; }

.icons-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 3.125rem;
  color: #fff; }

.round-soc span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.round-soc {
  float: left;
  border-radius: 100%;
  margin: 0px 8px;
  color: #fff;
  text-decoration: none; }

.round-soc:hover {
  cursor: pointer; }

.icons-hover:hover a {
  opacity: .7;
  -webkit-transition: .5s;
  transition: .5s; }

.icons-hover a:hover {
  opacity: 1; }

.rutube-soc {
  padding-left: 8px;
  padding-top: 8px;
  display: inline-block; }

.rutube-logo {
  width: 5rem; }

.rutube-logo:hover {
  cursor: pointer; }

.player {
  position: absolute;
  bottom: 15%;
  right: 3%; }
  @media only screen and (max-width: 1440px) {
    .player {
      bottom: 25%; } }
  .player__image {
    width: 100%;
    max-width: 25.25rem;
    position: relative; }
  .player__play {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .player__play:hover {
      cursor: pointer; }
