doctype

html(lang="ru" data-livestyle-extension="available")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		link(rel="shortcut icon" type="image/icon" href="images/favicon.ico")
		meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
		title Офис


		link(rel="stylesheet" href="bin/office/css/main.css?ver1")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
                  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
                  crossorigin="anonymous")

		//-счетчики tnt-online
		//Google
			script(type="text/javascript" title="Universal Analytics").
				(function (i, s, o, g, r, a, m) {
					i['GoogleAnalyticsObject'] = r;
					i[r] = i[r] || function () {
						(i[r].q = i[r].q || []).push(arguments)
					}, i[r].l = 1 * new Date();
					a = s.createElement(o),
						m = s.getElementsByTagName(o)[0];
					a.async = 1;
					a.src = g;
					m.parentNode.insertBefore(a, m)
				})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
				ga('create', 'UA-66343339-4', 'auto');
				ga('send', 'pageview');
		//Yandex.Metrika counter
			script(type="text/javascript").
				(function (d, w, c) {
					(w[c] = w[c] || []).push(function () {
						try {
							w.yaCounter37539305 = new Ya.Metrika({
								id: 37539305,
								clickmap: true,
								trackLinks: true,
								accurateTrackBounce: true,
								webvisor: true
							});
						} catch (e) {
						}
					});
					var n = d.getElementsByTagName("script")[0],
						s = d.createElement("script"),
						f = function () {
							n.parentNode.insertBefore(s, n);
						};
					s.type = "text/javascript";
					s.async = true;
					s.src = "https://mc.yandex.ru/metrika/watch.js";

					if (w.opera == "[object Opera]") {
						d.addEventListener("DOMContentLoaded", f, false);
					} else {
						f();
					}
				})(document, window, "yandex_metrika_callbacks");
		//--END-счетчики tnt-online

	body
		section.content
			.container
				.content__inner
					.folder
						.folder__item(data-name='ms')
							.folder__img
								img(src="bin/office/images/icons/folder.png", alt="")
							.folder__text
								span Майкл Скотт

						.folder__item(data-name='dh')
							.folder__img
								img(src="bin/office/images/icons/folder.png", alt="")
							.folder__text
								span Джим Халперт

						.folder__item(data-name='pb')
							.folder__img
								img(src="bin/office/images/icons/folder.png", alt="")
							.folder__text
								span Пэм Бисли

						.folder__item(data-name='dsh')
							.folder__img
								img(src="bin/office/images/icons/folder.png", alt="")
							.folder__text
								span Дуайт Шрут

						.folder__item(data-name='rh')
							.folder__img
								img(src="bin/office/images/icons/folder.png", alt="")
							.folder__text
								span Райан Ховард

						.folder__item(data-name='star')
							.folder__img
								img(src="bin/office/images/icons/star.png", alt="")
							.folder__text
								span Приглашенные <br>звезды

					//-.folder
						.folder__item.js-not
							.folder__img
								span
									img(src="bin/office/images/icons/not.png", alt="")
							.folder__text
								span Скрытая папка <br>ВИДЕО 0001

				.content__logo
					a(href="https://tnt4.ru/" target="_blank")
						img(src="bin/office/images/icons/tnt4.png", alt="")
			.player
				.player__image
					img(src="bin/office/images/video.png", alt="")
				.player__play.js-play
					img(src="bin/office/images/play.svg", alt="")
			.player__fullsize

		section.footer
			.footer__inner
				.footer__left
					.menu
						.menu__item
							img(src="bin/office/images/icons/pusk.png", alt="")
						.menu__item
							img(src="bin/office/images/icons/search.png", alt="")
						.menu__item
							a(href="https://www.facebook.com/tnt4ru" target="_blank")
								img(src="bin/office/images/icons/soc_fb.png", alt="")
						.menu__item
							a(href="https://ok.ru/tnt4" target="_blank")
								img(src="bin/office/images/icons/soc_ok.png", alt="")
						.menu__item
							a(href="https://www.instagram.com/tnt4ru/" target="_blank")
								img(src="bin/office/images/icons/soc_inst.png", alt="")
				.footer__right
					span 22:00



		.video
			.video__wrapper
				.video__close.js-close

		//script
		//-библиотека jquery(почему то с ней не работает ui-бибилиотека)
		//-script(type="text/javascript" src="_js/jquery.min.js")
		//- новая jquery
		//-script(src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="bin/office/js/jquery.min.js")

		//-ui библиотека
		//-script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
		//-анимация
		//-script(src="_js/wow.min.js")
		//-мой скрипт
		script(src="bin/office/js/main.js?ver1")
		// /script


		//-счетчики tnt-online
			noscript
				div 
					img(src="https://mc.yandex.ru/watch/37539305" style="position:absolute; left:-9999px;" alt="")
			//tns-counter.ru
			script(type="text/javascript").
				(new Image()).src = '//www.tns-counter.ru/V13a***R>' + document.referrer.replace(/\*/g, '%2a') + '*tnt_ru/ru/UTF-8/tmsec=tnt4_total/' + Math.round(Math.random() * 1E9);
			noscript
				img(src="https://www.tns-counter.ru/V13a****tnt_ru/ru/UTF-8/tmsec=tnt4_total/" width="1" height="1" alt="")
		//-END-счетчики tnt-online