// adjustment styles
* {
	outline:0!important;
}
html {
	font-size: 100%;
}

body, html {
	width: 100%;
	height: 100%
}
body {
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	font-family: CirceRegular;
	min-width: 1024px;
}
.wrapper {
	//overflow: auto | hidden | scroll | visible | inherit
	//auto - Полосы прокрутки добавляются только при необходимости.
	//hidden - Отображается только область внутри элемента, остальное будет скрыто.
	//scroll - Всегда добавляются полосы прокрутки.
	//visible - Отображается все содержание элемента, даже за пределами установленной высоты и ширины.
	//inherit - Наследует значение родителя.
	font-family: CirceRegular;
}
.container {
	width: 90%;
	margin: 0 auto;
}
a {
	padding: 0;
	margin: 0;
	color: #fff;
	text-decoration: none;
}
ul {
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
h1, h2, h3 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
}
.desctop {
	@include mq(tablet, max) {
		display: none;
	}
}
.mobile{
	display: none;
		@include mq(tablet, max) {
			display: block;
		}
}

