
//@include border-radius(rem(16));
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin inlineblock($valign: top) {
	display: inline-block;
	vertical-align: $valign;
}


//МЕДИАЗАПРОСЫ

$breakpoints: (
	"small_phone": 	366px,
	"phone": 		481px,
	"tablet": 		769px,
	"laptop": 		993px,
	"desktop": 		1441px,
	"HD":		 	1921px
);

@mixin mq($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == max {
			$width: $width - 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}

// CONVERT PIXELS TO REMS
$em-base: 16px !default;
// eg. for a relational value of 12px write rem(12)
// Assumes $em-base is the font-size of <html>
@function rem($pxval) {
	@if not unitless($pxval) {
		$pxval: strip-units($pxval);
	}
	$base: $em-base;
	@if not unitless($base) {
		$base: strip-units($base);
	}
	@return ($pxval / $base) * 1rem;
}

// CONVERT PIXELS TO EMS
// eg. for a relational value of 12px write em(12) when the parent is 16px
// if the parent is another value say 24px write em(12, 24)
@function em($pxval, $base: $em-base) {
	@if not unitless($pxval) {
		$pxval: strip-units($pxval);
	}
	@if not unitless($base) {
		$base: strip-units($base);
	}
	@return ($pxval / $base) * 1em;
}

@function strip-units($value) {
	@return ($value / ($value * 0 + 1));
}


